@import "tailwindcss";


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
