{{ range .URLs }}
<div class="grid grid-cols-7">
    <div class="flex flex-row gap-2">
        <a href="/{{.ShortURL}}" rel="nofollow" target="_blank" class="text-blue-500">{{.ShortURL}}</a>
        <a href="/{{.ShortURL}}+" rel="nofollow" target="_blank" class="text-gray-400 hover:text-gray-300 duration-150">+</a>
    </div>
    <span class="truncate col-span-5">{{.OriginalURL}}</span>
    <div class="flex flex-row items-center justify-end">
        <a hx-post="/api/delete/{{.DeletionKey}}" hx-target="#list" class=" text-red-500 hover:text-red-600 duration-150 font-semibold hover:underline hover:cursor-pointer select-none">Delete</a>
    </div>
</div>
{{ end }}