{{ range .URLs }}
<div class="grid md:grid-cols-8 grid-cols-4 gap-4">
    <div class="flex flex-row justify-between items-center">
        <a href="/{{.ShortURL}}" rel="nofollow" target="_blank" class="text-blue-500 truncate">{{.ShortURL}}</a>
        <a href="/{{.ShortURL}}+" rel="nofollow" target="_blank" class="text-gray-400 hover:text-gray-300 duration-150">+</a>
    </div>
    <span class="truncate md:col-span-6 col-span-2">{{.OriginalURL}}</span>
    <div class="flex flex-row items-center justify-end">
        <a hx-get="/api/delete/{{.DeletionKey}}?html=true" hx-target="#list" class=" text-red-500 hover:text-red-600 duration-150 font-semibold hover:underline hover:cursor-pointer select-none">Delete</a>
    </div>
</div>
{{ end }}
<div class="flex flex-row gap-2 justify-center items-center mt-4">
    <button {{ if le .Page 1 }} disabled {{ end }} class="p-2 border border-zinc-800 hover:bg-zinc-800 duration-150 rounded-lg hover:cursor-pointer disabled:cursor-auto disabled:opacity-50 disabled:hover:bg-transparent" hx-get="/list?page={{.PrevPage}}" hx-target="#list">
        <svg class="h-4 w-auto" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Solar by 480 Design - https://creativecommons.org/licenses/by/4.0/ --><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="m13 19l-6-7l6-7"/><path d="m17 19l-6-7l6-7"/></g></svg>
    </button>
    <label>
        <input id="page" name="page" type="number" min="1" max="{{.PageCount}}" required class="p-2 h-8 w-16 text-center tabular-nums border border-zinc-800 rounded-lg" value="{{.Page}}" hx-get="/list" hx-target="#list" hx-trigger="change" hx-validate="true"/>
    </label>
    <span>/ {{.PageCount}}</span>
    <button {{ if ge .Page .PageCount }} disabled {{ end }} class="p-2 border border-zinc-800 hover:bg-zinc-800 duration-150 rounded-lg hover:cursor-pointer disabled:cursor-auto disabled:opacity-50 disabled:hover:bg-transparent" hx-get="/list?page={{.NextPage}}" hx-target="#list">
        <svg class="h-4 w-auto" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Solar by 480 Design - https://creativecommons.org/licenses/by/4.0/ --><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="m11 19l6-7l-6-7"/><path d="m7 19l6-7l-6-7"/></g></svg>
    </button>
</div>